body {
	color: #161787;
	font-family: "lucida grande", tahoma, sans-serif;
}

a {
	color:red;
}
h2{
	color:#07765a;
}
.button {
	display:block;
	width:auto;
	padding:5px 10px;
	background-color:aqua;
	border:2px solid #8bd31e;
	border-radius:5px;
	float:left;
	
}
.dna{
	width:1000px;
}
